body { 
  background-color: #f4efe7;
}

.bgr-box {
   width: 35vw;
   height: 100vh;
}

#top-row {
  margin-top: 40%;
  margin-bottom: 25%;
}

select, input {
  width: 4rem;
  height: 2.5rem;
}

#reverse-icon {
  border-radius: 100%; 
  border: 1px solid green; 
}

.currency-icon { /* replace with dynamic icons */
  background-image: url('images/dollar.png'); /* temp img */
  background-size: contain;
  background-repeat: no-repeat;
  width: 30px; 
  height: 30px;
  border-radius: 100%;
}

footer p {
  font-size: 1.2rem;
}

footer a {
  color:rgb(159, 191, 244);
  text-decoration: none;
}
